body {
    margin: 0;
    font-family: 'Roboto Condensed';
    scrollbar-width: hidden;
}


#logo {
    width: 40px;   
}

.helping-icons {
    width: 21px;
}

#iframe-settings {
    width: 340px;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing:content-box;
    overflow: hidden;
    position: absolute;
    border: none;
}

#settings-popup{
    width: 320px;
    height: 420px;
}


/* Custom scrollbar styles */
/* #iframe-settings::-webkit-scrollbar {
    scrollbar-width: thin;
} */


#close-btn {
    width: 20px;

    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
}

#close-btn-image {
    width: 20px;
}

#popup-container {
    background-color: #222222;
    min-width: 320px;
    min-height: 420px;

    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

h3 {
    color: white;
    margin: 0;
    font-weight: 100;
    font-size: 16px;
}

h1 {
    color: #6BC9FF;
    margin: 0;
    font-size: 36px;
    font-weight: 600;

    text-shadow: 1px 5px 5px rgba(0,0,0,0.5);
}

#popup-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    /* width: 320px; */
    background-color: #6BC9FF;
    height: 50px;
}

.popup-navbar-btn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
}


#popup-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 12px;
}

#popup-modeselector-container {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    align-items: center;
}


.popup-modeselector-btn {
    width: 92%;
    cursor: pointer;
    height: 50px; 
    border-radius: 9px;
    border: none;
    background-color: #6BC9FF;
    display: flex;
    align-items: center; /* Center the content vertically */
    padding: 0 10px; /* Add padding to the sides */
    box-sizing: border-box;
    transition: background-color 100ms linear; /* Add transition for background color */
}

.modebtn-content {
    display: flex;
    margin-left: 12%;
    text-align: center;
    align-items: center; /* Center the content vertically */
}

.modeselector-text {
    font-family: 'Roboto';
    color: black;
    font-weight: 500;
    font-size: 19px;
}

.mode-selector {
    margin: 0;
    float:left;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 19px;
    height: 19px;
    border: 2px solid #4282A7;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background-color: #4282A7;
    pointer-events: none;
    flex-shrink: 0; /* Prevent the radio button from shrinking */
    transition: background-color 100ms linear, box-shadow 100ms linear; /* Add transition for background color and box-shadow */
}

.mode-selector:checked {
    background-color: #6BC9FF;
    border-color: #4282A7;
    box-shadow: 0 0px 0px rgba(255, 255, 255, 0.1), inset 0 1px 2px rgba(255, 255, 255, 0.9); /* Adding an inset shadow for the checked state */
}

/* settings */

#options-container {
    background-color: #222;
    color: #fff;
    min-width: 320px;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#options-header {
    color: #fff;
    font-size: 20px;
    margin: 0;
    background-color: #4F4F4F;
    padding: 10px;
    box-sizing: border-box;
    min-width: 100%;
}

#options-header > h2 {
    margin: 0;
    font-weight: 400;
}

.options-subheader {
    margin-top: 5px;
    background-color: #838383;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

.options-subheader > h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

#reset-btn {
    justify-content: center;
}

.options-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6BC9FF;
    border-radius: 9px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

.options-btn > p {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    max-width: 80%;

    font-family: 'Roboto';
    color: black;
    font-weight: 500;
    font-size: 19px;
}

.options-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 0 10px 0 10px;
}

.options-section > h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}


@-webkit-keyframes scale-up-center {
0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
}
100% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
}
@keyframes scale-up-center {
0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
}
100% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
}